{% extends 'weather/base.html' %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Title</title>
      {% block main_content %}
   <body>
      <div class="container d-flex flex-wrap px-0">

         <ul class="nav me-auto">
            {% if day.day_num > 1 %}
         <button class="btn btn-primary btn-lg" onclick="location.href='/weather/city/day/{{day.day_num|add:-1}}/0/{{graph_url}}'"><i class="fa fa-solid fa-arrow-left"></i></button>

            {% else %}
               <button class="btn btn-secondary btn-lg" disabled onclick="location.href='/weather/city/day/{{day.day_num|add:-1}}/0/{{graph_url}}'"><i class="fa fa-solid fa-arrow-left"></i></button>

            {% endif %}
         </ul>
         <ul class="nav">
            {% if day.day_num < 6 %}
            <button class="btn btn-primary btn-lg" onclick="location.href='/weather/city/day/{{day.day_num|add:+1}}/0/{{graph_url}}'"><i class="fa fa-solid fa-arrow-right"></i></button>
            {% else %}
               <button class="btn btn-secondary btn-lg" disabled onclick="location.href='/weather/city/day/{{day.day_num|add:+1}}/0/{{graph_url}}'"><i class="fa fa-solid fa-arrow-right"></i></button>
            {% endif %}
         </ul>
      </div>
      <div>
         <br>
         <h5> {{day.city}} </h5>
         <h5> {{day.date}} </h5>
         <h5> {{day.weekday}} </h5>
      </div>
      <header class="d-flex flex-wrap justify-content-left py-3 mb-4 border-bottom">
      <ul class="nav nav-pills">
         {%if hourValues.0.1 == "Temperature" %}
         <li class="nav-item"><a href="t" class="nav-link active" aria-current="page">Temperature</a></li>
         <li class="nav-item"><a href="h" class="nav-link">Humidity</a></li>
         {% else %}
         <li class="nav-item"><a href="t" class="nav-link" aria-current="page">Temperature</a></li>
         <li class="nav-item"><a href="h" class="nav-link active">Humidity</a></li>
         {% endif %}
      </ul>
      </header>
      <head>
         <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
         <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
              var data = google.visualization.arrayToDataTable({{hourValues|safe}});


              var options = {
                pointsVisible: true,
                legend: { position: 'bottom' }

              };

                // The select handler. Call the chart's getSelection() method
              function selectHandler() {

                var selectedItem = chart.getSelection()[0];
                if (selectedItem) {

                  window.location.href = "/weather/city/day/{{day.day_num}}/" + selectedItem.row + "/{{graph_url}}";
                }
              }

              var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
              google.visualization.events.addListener(chart, 'select', selectHandler);

              chart.draw(data, options);
            }
         </script>
      </head>
      <body>
         <div class="row row-cols-5">
            <div class="col">
               <div class="h-100 w-100 p-5 text-bg-dark rounded-3 pb-0 pt-0">
                  <div class="col-sm- ">
                     <div class="weather-icon"><img style="width: 7vw; height: 7vw" src="http://openweathermap.org/img/wn/{{slot.icon_code}}@2x.png" /></div>
                     <style>
                        img {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        }
                     </style>
                     <div class="container">
                        <p> {{slot.time}} </p>
                        <p>  {{slot.description}} </p>
                        <p> Temperature: <br> {{slot.temperature}}</p>
                        <p> Humidity: <br> {{slot.humidity}} </p>
                        <p> Wind speed: <br> {{slot.wind_speed}} </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md">
               <div class="h-100 w-100 p-5 bg-dark border rounded-3 ">
                  <div class="container" id="curve_chart" style="width: 40vw; height: 20vw">
                  </div>
               </div>
            </div>
         </div>
   </body>
   <div>
      <br><input type=button value="Back to week view" class="btn btn-primary" onClick="location.href='/weather/city/?city={{day.city}}'">
   </div>
   </body>
</html>
{% endblock %}