{% extends 'weather/base.html' %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Title</title>
      {% block main_content %}
   <body>
      <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
         {% if day.day_num > 1 %}
         <input type=button class="btn btn-primary btn-lg" value="Prev day" onclick="location.href='/weather/city/day/{{day.day_num|add:-1}}/t'">
         {% endif %}
      </ul>
      <ul class="nav">
         {% if day.day_num < 6 %}
         <input type=button value="Next day" class="btn btn-primary btn-lg" onclick="location.href='/weather/city/day/{{day.day_num|add:+1}}/t'">
         {% endif %}
      </ul>
   </div>
      <div>
         <br>
         <h2>{{day.city}}</h2>
         <h2> {{day.date}}</h2>
      </div>
      <header class="d-flex flex-wrap justify-content-left py-3 mb-4 border-bottom">
      <ul class="nav nav-pills">
         {%if hourValues.0.1 == "Temperature" %}
         <li class="nav-item"><a href="t" class="nav-link active" aria-current="page">Temperature</a></li>
         <li class="nav-item"><a href="h" class="nav-link">Humidity</a></li>
         {% else %}
         <li class="nav-item"><a href="t" class="nav-link" aria-current="page">Temperature</a></li>
         <li class="nav-item"><a href="h" class="nav-link active">Humidity</a></li>
         {% endif %}
      </ul>
      </div>
      <head>
         <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
         <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
              var data = google.visualization.arrayToDataTable({{hourValues|safe}});


              var options = {
                legend: { position: 'bottom' }
              };

              var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

              chart.draw(data, options);
            }
         </script>
      </head>
      <body>
         <div class="container" id="curve_chart" style="width: 900px; height: 500px"></div>
   </body>

   <div>
      <br><input type=button value="Back to week page" onClick="location.href='/weather/city/?city={{day.city}}'">
   </div>
   </body>
</html>
{% endblock %}