{% extends 'weather/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<style>

</style>
</head>

{% block main_content %}

<body>

<h2>Weather in {{city}}</h2> <br>

    <form method="get" action="submit_city">
        {{ form }}
        <input id = "city" type="text" value="{{city}}" name="city">
        <input type="submit" value="Submit">
    </form>

    <p> Temperature: {{temperature}} °  </p>
    <p> Air pressure: {{pressure}} </p>
    <p> Humidity: {{humidity}} </p>


</body>
</html>

{% endblock %}