{% extends 'weather/base.html' %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Title</title>
   </head>
   {% block main_content %}
   <body>
      <h2>{{week.city}}</h2>
      <br>
      <div class="container">
      {% for day in week.days %}
      <button class="btn btn-primary" style="margin:2px" onclick="location.href='day/{{day.day_num}}/0/t'">
      {{day.date}} <br> {{day.weekday}} <br>{{day.get_avg_temp}} °
      <div class="weather-icon"><img style="width: 6vw; height: 6vw" src="http://openweathermap.org/img/wn/{{day.icon}}@2x.png" /></div>

      </button>

      {% endfor %}
      <br><br><input type=button value="Back to main page" class="btn btn-primary" onClick="location.href='/weather'">

      </div>


   </body>
</html>
{% endblock %}