{% extends 'weather/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

{% block main_content %}

<body>

<h2>{{week.city}}</h2> <br>
    <div class="row">

    {% for day in week.days %}
        <input class="btn" type="button" value="{{day.date}} Temperature: {{day.temperature}} ° Humidity: {{day.humidity}}" onclick="location.href='day/{{day.day_num}}'" />
    {% endfor %}

      </div>

    <style>
      .btn {
        display: inline-block;
        width: 150px;
        white-space: normal;
        word-wrap: break-word;
        padding: 15px 25px;
        margin: 10px;
        background-color: rgb(13, 110, 253);
        border: 2px solid black;
        border-radius: 5px;
        text-align: center;
        outline: none;
        font-size: 13px;
        color: #ffffff;
        cursor: pointer;
      }
    </style>
    <br>
    <input type=button value="Back to main page" onClick="location.href='/weather'">

</body>
</html>

{% endblock %}