{% extends 'weather/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

{% block main_content %}

<body>

<h2>{{week.city}}</h2> <br>

    {% for day in week.days %}
        <input type="button" value="{{day.date}} Temperature: {{day.temperature}} ° Humidity: {{day.humidity}}" onclick="location.href='day/{{day.day_num}}'"/><br>
    {% endfor %}


    <input type=button value="Back to main page" onClick="location.href='/weather'">

</body>
</html>

{% endblock %}